* {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: rgb(38 31 76);
  height: 90px;
  margin-top: 10px;
}

.article-heading {
  margin-left: 10px;
  color: #261f4c;
  font-size: 190%;
  vertical-align: top;
}

.title {
  font-size: 190%;
}

.subtitle {
  font-size: 100%;
}

.center {
  text-align: center;
  width: 20%;
  margin-left: 40%;
  height: 50%;
  padding: 10px;
  margin-top: -4%;
}

.logo {
  border: 3px solid #bb1f1f;
  background: #ffffff;
  margin-top: 10px;
}

.category {
  margin-top: 15px;
  margin-left: 10px;
}

select {
  margin-left: 0px;
  margin-top: 7px;
  height: 25px;
  width: 15%;
}

.heading {
  margin-top: -30%;
}

.subscribe {
  margin-top: -50px;
  float: right;
}

#submit {
  background-color: black;
  color: white;
  height: 25px;
}

#email {
  margin-top: 7px;
  height: 20px;
}

img {
  vertical-align: top;
}

a {
  margin-top: 10%;
}

article {
  margin-top: 1%;
}

button {
  background-color: #c34040;
  font: icon;
  border: 0;
  color: white;
  padding: 1% 1%;
}

.artile-end-line {
  margin-top: 2%;
}

footer {
  background-color: #261f4c;
  margin-top: 3%;
  color: white;
  text-align: center;
  padding: 10px;
}

@media screen and (min-width: 135px) {
  .article-heading {
    font-size: 150%;
  }

  .article-content {
    margin-top: -1%;
    margin-left: 31.4%;
  }
  img {
    width: 30%;
  }
  .article-deatils {
    margin-left: 31.4%;
    margin-top: -19%;
    font-size: 64%;
  }
  button {
    margin-left: 31.4%;
  }
}
@media screen and (max-width: 875px) {
  .center {
    margin-left: 28%;
    width: 34%;
  }
}

@media screen and (max-width: 550px) {
  .center {
    margin-top: 0%;
    margin-left: 25%;
    width: 50%;
  }
  img {
    width: 32%;
    margin-top: 1%;
  }
  .article-heading {
    font-size: 125%;
  }
}

@media screen and (max-width: 375px) {
  .center {
    margin-left: 25%;
    width: 50%;
    margin-top: 10px;
  }
  label {
    font-size: 10px;
  }
  #email {
    width: 104px;
  }
  #submit {
    width: 75px;
  }
  img {
    width: 30%;
    margin-top: 1%;
  }
  .article-heading {
    font-size: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .article-content {
    margin-left: 19.4%;
    width: 60%;
  }
  img {
    width: 18%;
  }
  .article-deatils {
    margin-left: 19.4%;
    margin-top: -11%;
    font-size: 90%;
  }
  button {
    margin-left: 19.4%;
  }
}
